:host {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

section.header {
    font-size: 1.2em;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgba(0, 0, 96, 1);
    padding: 8px 16px;
}

section.data {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    column-count: 3;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 8px;
}

p {
    margin: 0 0 8px 0;
    padding: 8px 16px;
}

select {
    margin: 8px;
    padding: 8px;
}

button {
    border-radius: 8px;
    width: 64px;
    float: right;
    padding: 8px;
    margin: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.locked {
    font-size: 1.5em;
    z-index: 0;
    color: red;
}

@media (max-width: 768px) {
    section.header {
        border-radius: 0px;
    }

    section.data {
        flex-direction: row;
        column-count: auto;
        margin: 0;
    }

    .locked {
        margin-left: 16px;
    }
}
