@if (auth.isLoggedIn) {
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        @if (auth.isLoggedIn) {
            <div class="navbar-collapse">
                <ul class="nav d-flex w-100">
                    <li class="p-2">
                        <span class="text-light text-nowrap">{{ auth.Name }}</span>
                    </li>
                    <li class="ms-auto p-2">
                        <a class="btn-logout" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        }
    </nav>
} @else {
    <h1 class="text-center mt-1 text-light">Paramedic Management Tool</h1>
}
<router-outlet></router-outlet>