:host {
    display: flex;
    height: 100dvh;
    flex-direction: column;
}

.active a {
    color: white;
    text-decoration: underline;
}

nav>ul li {
    cursor: pointer;
}

.icon-parent {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.btn-logout {
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    background: linear-gradient(to right, #456, gray);
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-logout:hover {
    background: linear-gradient(to right, #459 80%, gray);
}
