:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

section.header {
    font-size: 1.2em;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(0, 0, 96);
    padding: 8px 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}

section.data {
    display: flex;
    overflow-y: auto;
    min-height: 0;
    flex-direction: column;
    padding: 0 16px 8px 0;
    font-size: 1.2em;
}

div.shift {
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 8px;
    padding: 8px 8px;
    background-color: darkblue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 8px 8px;
    border: 1px solid black;
}

li {
    margin: 0;
    padding: 0 8px;
    font-size: 1.2em;
    min-height: 44.8px;
}

li span {
    display: inline-block;
    overflow-x: hidden;
}

li.person {
    display: flex;
    align-items: center;
    width: 100%;
}

li.person:hover {
    background-color: rgba(0, 0, 255, .4);
}

li.person .left {
    flex: 0 0 auto;
    margin-right: 8px;
}

li.person span {
    display: block;
    flex: 1 1 auto;
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

i.trash {
    flex: 0 0 auto;
    padding: 8px;
    margin: 0;
    cursor: pointer;
}

i.trash:hover {
    background-color: transparent;
    color: red;
}

span.day, span.hours {
    display:inline-block;
    width: 50%;
    padding: 0 16px;
    background-color: darkslateblue;
}

span.day {
    border-radius: 8px 0 0 0;
}

span.hours {
    border-radius: 0 8px 0 0;
    text-align: right;
}

.add-person {
    font-size: 1.4em;
    color: green;
    cursor: pointer;
}

h3 {
    margin: 8px 0;
}

section.header select {
    height: 44px;
}

section.data select {
    height: 42px;
    margin: 8px 0 0 0;
    padding: 8px;
}

button {
    border-radius: 8px;
    width: 128px;
    height: 42px;
    float: right;
    position: relative;
    top: 0;
    right: 0;
}

.locked {
    font-size: 1.5em;
    z-index: 0;
    color: red;
}

i.lock, i.unlock {
    display: inline-block;
    position: absolute;
    right: 8px;
    background-color: rgb(224, 224, 255);
    border-radius: 8px;
    border: 1px black solid;
    padding: 4px 8px;
    font-size: 1.2em;
    cursor: pointer;
}

i.lock:hover, i.unlock:hover {
    background-color: rgb(192, 192, 255);
}

i.lock {
    color: red;
}

i.unlock {
    color: green
}

.warning {
    padding: 8px;
    background-color: rgba(255, 0, 64, .6);
    margin: 0;
    border-radius: 0 0 8px 8px;
}

@media (max-width: 768px) {
    section.header {
        border-radius: 0;
    }

    section.data {
        font-size: 1.4em;
        padding-right: 0;
    }

    div.shift {
        border-radius: 0;
    }

    i.trash {
        color: red;
    }

    p.warning {
        text-align: center;
    }
}