:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

button {
    padding: 8px;
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: gray;
    border-radius: 8px;
    width: 128px;
}

button:hover {
    color: pink;
}

label {
    display: block;
}

input {
    margin: 4px 8px;
    padding: 4px 8px;
    width: calc(100% - 16px);
}

input[type="checkbox"] {
    width: 48px;
    height: 48px;
    margin-left: 16px;
}

.read-only {
    background-color: lightgray;
}

ul {
    background-color: lightgray;
    padding: 8px;
    margin: 8px 0;
    min-height: 64px;
    border-radius: 8px;
}

li {
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
    margin: 8px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    font-size: 1.4em
}

i {
    border-left: 2px solid black;
    background-color: lightblue;
    color: black;
    padding: 4px;
    cursor: pointer;
}

i:hover {
    color: white;
    background-color: blue;
}

li span {
    flex-grow: 1;
    padding: 0px 8px;
    color: black;
}

@media (max-width: 768px) {
    form {
        padding: 16px;
    }

    label, input, button {
        font-size: 1.4em;
    }
}